.top,
.top-start,
.top-end {
	&::before {
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
	}
}

.bottom,
.bottom-start,
.bottom-end {
	&::before {
		box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.1);
	}
}

.right,
.right-start,
.right-end {
	&::before {
		box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.1);
	}
}

.left,
.left-start,
.left-end {
	&::before {
		box-shadow: 2px -2px 4px 0px rgba(0, 0, 0, 0.1);
	}
}

// .cover {}
// .none {}
