.Button {
	border-radius: 5px;
	height: var(--primary-button-height, 46px);
	font-size: inherit;
	font-family: inherit;

	text-align: center;
	transition: 300ms all;

	outline: none;
	
	&:disabled {
		filter: saturate(0.38);
		cursor: auto;
	}

	&[data-variation='normal'] {
		border: 1px solid var(--bg-topping, white);
		background-color: var(--bg-topping, white);
		color: var(--primary-button-text, var(--base-color, #6c5ce7));

		&:hover:not(:disabled) {
			border: 1px solid var(--bg-topping-highlight, white);
			background-color: var(--bg-topping-highlight, white);
			color: var(--base-highlight, #5d4aec);
		}
	}

	&[data-variation='ghost'] {
		border: 1px solid var(--base-color, #6c5ce7);
		background-color: var(--bg-topping, white);
		color: var(--primary-button-text, var(--base-color, #6c5ce7));

		&:hover:not(:disabled) {
			border: 1px solid var(--base-highlight, #5d4aec);
			background-color: var(--bg-topping-highlight, white);
			color: var(--base-highlight, #5d4aec);
		}
	}

	&[data-variation='cta'] {
		border: 1px solid var(--cta-color, var(--base-color, #6c5ce7));
		background-color: var(--cta-color, var(--base-color, #6c5ce7));
		color: var(--cta-button-text, white);

		&:hover:not(:disabled) {
			border: 1px solid var(--cta-highlight, var(--base-highlight, #5d4aec));
			background-color: var(--cta-highlight, var(--base-highlight, #5d4aec));
		}
	}
}
