/** @format */

$staticStorageUrl: "http://cdn.watheia.org/watheia-mfe";
// or... uncached for dev:
// $staticStorageUrl: 'http://cdn.watheia.org/watheia-mfe';

:export {
  staticStorageUrl: $staticStorageUrl;
}
